body{
background-color: rgb(245, 228, 220);

}

.main_form {
    background-color: rgb(185, 236, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-style: outset;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    gap: 20px;
    

}

.main_form:hover {
transform: scale(1.1);

}

.main_form_field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.check_box_field {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    

}

.main_form_input {
border: solid 5px;
padding: 20px 15px;
border-radius: 10px;

}

.main_form_field_input:focus {
    border-color: rgb(223, 7, 7);
    outline: rgb(90, 132, 135);
}

.main_form_submit {
    border: none;
    background-color: rgb(243, 234, 166);
    border-radius: 10px;
    border-style: outset;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
}

.main_form_submit:hover {
    transform: scale(1.05);

}

.manin_form_submit:active {
transform: scale(1.05);
transform: translateY(3px);

}

#output {
    display: none;
    font-size: 16px;
    background-color: rgb(167, 233, 228);
    width: fit-content;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    margin: 40px auto 0;
}